@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

.btn-white {
    background: #FFF!important;
    color: #000!important;
    border-radius: 0!important;
    border: 5px solid transparent!important;
    transition: all ease-in-out 0.2s;
    text-transform: uppercase;
    @include theme-font;
    &:hover {
        border: 5px solid #000!important;
    }
}

.grey-content {
    color: #cac7c7!important;
    text-transform: uppercase;
    @include theme-font;
}

.uppercase-content {
    text-transform: uppercase;
    @include theme-font;
}

.black-background {
    background: #000;
    color: #FFF;
}

.center {
    text-align: center;
}

.subheader {
    @include subheader-font;
}

.content {
    table {
        border: none;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        tr {
            border: none;
            td {
                border: none;
            }
        }
    }
}

.italic {
    font-style: italic;
}
