@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'utilities';
@import 'mixins';
@import 'variables';

// 3rd party imports
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~vue-select/src/scss/vue-select";

[v-cloak] {
    display: none;
}

#app {
    min-height: 100vh;
    overflow-x: hidden;
}

.wrapper {

}

blockquote {
    quotes: "“" "”" "‘" "’";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5A5A5A;
    overflow-x: hidden;
    background: #000!important;
}

.btn-outline-black {
    color: #000;
    border-color: #000;
}

.btn-black {
    background: #000!important;
    color: #FFF!important;
}

.footer {
    padding: 2rem;
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 1px solid #FFF;
    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        @include theme-font;
        font-size: 1.5rem;
        li {
            margin-bottom: .5rem;
            a {
                color: #CCC;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: $yellow-color;
                    padding-left: 1rem;
                }
            }
        }
    }
}

.merchandise-banner {
    display: block;
    width: 100%;
    margin: 3rem auto;
}

.call-to-action-text {
    font-size: 1.2rem;
    text-align: center;
    color: #FFF;
    font-style: italic;
    line-height: 2rem;
}

.portal-renderer {
    .content {
        padding: 2rem;
        color: #FFF;
        font-weight: normal;
        .table {
            color: #FFF;
            table {
                border: none;
                tr {
                    td {
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}

h1 {
    font-weight: 400!important;
}

h2 {
    strong {
        background: #FFF;
        color: #000;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@import "responsive/ios";


