@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'utilities';
@import 'mixins';
@import 'variables';

// 3rd party imports
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~vue-select/src/scss/vue-select";

[v-cloak] {
    display: none;
}

.wrapper {
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5A5A5A;
    overflow-x: hidden;
    background: #000!important;
}

.image-section {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    blockquote {
        display: inline;
        text-transform: uppercase;
        background-color:rgba(0, 0, 0, 0.5);
        color: #FFF;
        padding: 0.2rem;
        margin: auto;
        font-size: 1.5rem;
        @include quote-font;
    }
    .source {
        display: block;
        text-transform: uppercase;
        color: #FFF;
        font-size: 2rem;
        @include quote-font;
    }


    .image-section-title {
        color: #FFF;
        text-transform: uppercase;
        text-align: left;
        .highlight-text {
            display: block;
            font-size: 5rem;
        }
        @include theme-font;
    }

    .image-section-subtitle {
        color: #FFF;
        text-transform: uppercase;
        text-align: left;
        @include theme-font;
    }

    .image-section-supplemental-title {
        color: #FFF;
        text-transform: uppercase;
        text-align: right;
        font-size: 4rem;
        @include theme-font;
    }

    .image-section-supplemental-content {
        color: #FFF;
        text-transform: uppercase;
        text-align: right;
        font-size: 2rem;
        @include theme-font;
    }
}
