$theme-color-peach: rgba(255, 129, 85, .2);
$theme-color-yellow: #FFDD6E;
$theme-color-vibrant-yellow: #FFDD6E;
$theme-color-blue: #5EDBD6;
$theme-color-grey: #C4C4C4;
$theme-color-light-grey: #E5E5E5;
$theme-input-background: rgba(196, 196, 196, .2);
$theme-color-light-yellow: rgba(255, 233, 201, .2);
$theme-color-black: #37352F;
$theme-color-green: #62C29F;
$theme-color-lighter-yellow: #FFFBF3;
