@mixin ios() {
    .nav-wrapper {
        overflow: hidden;
        .top-nav {
            .top-nav-menu {
                position: absolute!important;
                li {
                    a {
                        font-size: 1rem!important;
                        padding: 1rem 0.8rem!important;
                    }
                }
            }
        }
    }

    .logo-link.text-right {
        text-align: center!important;
        padding-top: 4rem!important;
    }

    .logo {
        margin: 3rem auto!important;
    }

    .logo-link.text-left {
        text-align: center!important;
        padding-top: 0rem!important;
        margin-bottom: 4rem!important;
    }

    .footer {
        padding-top: 1rem!important;
        margin-bottom: 2rem;
        ul {
            li {
                a {
                    text-align: center!important;
                    &:hover {
                        padding-left: 0;
                    }
                }
            }
        }
        .footer-link {
            display: block;
            text-align: center!important;
            margin-top: 2rem;
        }
    }

    .call-to-action {
        display: block!important;
        width: 80%!important;
        margin: 0 auto .5rem auto!important;
    }

    .call-to-action-text {
        padding: 2rem;
    }

    .spacer {
        display: none;
    }

    .parralax-image-1 {
        position: relative!important;
        height: 21rem!important;
    }

    .parralax-image-2 {
        display: none;
    }

    .parralax-image-3 {
        display: none;
    }

    .parralax-image-2-mobile {
        display: block!important;
        position: relative!important;
        height: 27rem!important;
        left: -35rem;
        transition: all 5s ease-in-out;
        &.visible {
            left: -2rem;
        }
    }

    .parralax-image-3-mobile {
        display: block!important;
        position: relative!important;
        height: 21rem!important;
        &.visible {

        }
    }

    .image-section-title {
        margin-top: 2rem;
    }

    .image-section-supplemental-title {
        margin-top: 5rem;
    }

    .btn-white {
        width: 100%;
    }
}

// iPhone 5 & 5s
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    @include ios;

    h1 {
        font-size: 1.3rem!important;
    }

    h2 {
        font-size: 1.1rem!important;
        text-align: center;
    }

    h3 {
        font-size: 1rem!important;
        font-weight: bold!important;
    }

    .subheader {
        font-size: 1rem!important;
        font-weight: bold!important;
    }

    .logo-link.text-right {
        padding-top: 2rem!important;
    }

    .logo {
        padding: 2rem;
        margin: 1rem auto!important;
    }

    .highlight-text {
        font-size: 4rem!important;
    }

    .nav-wrapper {
        .top-nav {
            .top-nav-menu {
                li {
                    a {
                        font-size: 0.4rem!important;
                    }
                }
            }
        }
    }

    .image-section-title {
        font-size: 2rem!important;
    }

    .call-to-action-text {
        line-height: 2rem!important;
        font-size: 1.2rem!important;
    }
}



// iPhone XS Max and Plus sizes
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    @include ios;

    .logo-link.text-right {
        padding-top: 4rem!important;
    }
}

// iPhone X
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    @include ios;

    .nav-wrapper {
        .top-nav {
            .top-nav-menu {
                li {
                    a {
                        font-size: 0.8rem!important;
                    }
                }
            }
        }
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .logo-link.text-right {
        text-align: center!important;
        padding-top: 4rem!important;
    }

    .logo {
        margin: 3rem auto!important;
    }

    .logo-link.text-left {
        text-align: center!important;
        padding-top: 0rem!important;
        margin-bottom: 4rem!important;
    }

    .footer {
        padding-top: 1rem!important;
        margin-bottom: 2rem;
        ul {
            li {
                a {
                    text-align: center!important;
                    &:hover {
                        padding-left: 0;
                    }
                }
            }
        }
        .footer-link {
            display: block;
            text-align: center!important;
            margin-top: 2rem;
        }
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .home-main {
        margin-top: 6rem!important;
    }

    .logo-link.text-right {
        text-align: center!important;
        padding-top: 4rem!important;
    }

    .logo {
        margin: 3rem auto!important;
    }

    .logo-link.text-left {
        text-align: center!important;
        padding-top: 4rem!important;
        margin-bottom: 4rem!important;
    }
}
